@{
    ViewData["Title"] = "About";
}

<div style="margin-left: 16px">
    <h3 style="background-color: white; width: fit-content">Our Story...</h3>
    <p style="background-color: white; width: fit-content">
        We are a growing online retailer store that wants you to be satisfied with our products.
        Our mission is for you to enjoy our products<br /> that we sell.
        Our store did not initially perform well with selling goods because
        we did not have this kind of technology back then.<br />We try our best to improve every aspect of
        our products. If you are unsatisfied with anything, please let us know by sending<br />
        a message to us. <a href="/Home/Contacts">Click here to give us feedback</a>
        <br />
        <br />
        Before we sold our products in a local shop that was not very modern.<br />
        We now moved our store to the cloud environment and customers can only buy from our store through this website.<br />
        The products that a customer buys will be delivered to their physical address.
    </p>
</div>
<br />

<div align="center">
    <h3 style="background-color: white; width: fit-content">Our Old Retail Store</h3>
    <img src="https://cldv6212st10069070.blob.core.windows.net/multimedia/about-us-images/about-us-image.jpg" style="width: 80%; border-color: black; border-width: 3px; border-style: solid" />
</div>